@import '../../styles/colors.scss';
@import '../../styles/responsive';
@import '../../styles/fonts';
@import '../../styles/sizes';

.HomeArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  width: 100vw;

  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  @include desktop {
    width: 85%;
  }

  &__article {
    margin-bottom: 40px;
    width: 80%;
    text-align: left;
    border-radius: 4px;
    > a {
      text-decoration: none;
      color: black;
    }

    @include tablet {
      width: 28%;
    }
    @include desktop {
      width: 24%;
    }
    &-img {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        > img {
          width: 100%;
          display: block;
        transition: .3s ease-in-out;
        }
        :hover {
          transform: scale(1.2);
        }
      }
  }
  &__title {
    margin: 10px 0px;
    @include desktop {
      font-size: 1.4rem;
    }
  }
  &__copy {
    font-size: 0.8rem;
    line-height: 1.5;
    @include tablet {
      font-size: 0.6rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  &__spans {
    display: flex;

    > span {
      font-size: 0.7rem;
      @include desktop {
        font-size: 0.9rem;
      }
    }
    > div {
      border: 1px solid $primary-color;
      margin: 0px 10px;
    }
  }
}