@import "../../styles/sizes";
@import "../../styles/responsive";
@import "../../styles/fonts";
@import "../../styles/colors";

.SmallArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__article {
    padding: 20px;
    @include tablet {
      width: 20rem;
    }
    > a {
      text-decoration: none;
    }
  }
  &__img {
    width: 100%;
    display: inline-block;
    overflow: hidden;

    > img {
      width: 100%;
      display: block;
      transition: 0.3s ease-in-out;
    }
    :hover {
      transform: scale(1.2);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    > p {
      margin: 5px 0px;
      font-size: 0.6rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      color: #228d5a;
    }
    > h3 {
      color: black;
      font-size: 1.5rem;
      margin: 10px 0px;
    }
  }
}
