@import "../../styles/sizes";
@import "../../styles/responsive";
@import "../../styles/fonts";
@import "../../styles/colors";

.HomeAbout {
  margin: 40px 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__description {
    width: 85%;
    line-height: 1.5;
    margin-bottom: 40px;
    @include desktop {
        width: 60%;
    }
  }
  &__subtitle {
    color: $primary-color;
  }
  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      margin-top: 20px;
    }
  }
  &__card {
    width: 15rem;
    margin-bottom: 30px;
    > img {
      width: 6rem;
    }
  }
}
