@import "../styles/colors.scss";
@import "../styles/responsive";
@import "../styles/fonts";
@import "../styles/sizes";

.BlogPost {
  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__article-hero {
    display: flex;
    flex-direction: column;

    > img {
      width: 100%;
    }
  }

  &__article-txt {
    width: 85vw;
  }
  &__spans {
    display: flex;
    justify-content: center;

    > span {
      font-size: 0.7rem;
      @include desktop {
        font-size: 0.9rem;
      }
    }
    > div {
      border: 1px solid $primary-color;
      margin: 0px 10px;
    }
  }
  &__desc{
    width: 90%;
    @include desktop {
      width: 70%;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__h2 {
    color: $primary-color;
  }

  &__goBack {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    &-icon {
      margin-right: 5px;
    }
  }
  &__goBack:hover {
    color: $primary-color;
  }

  &__heart {
    border: none;
    background-color: transparent;
    color: $primary-color;
    outline: none;
    height: 0.8rem;
    padding: 0;
    margin-left: 10px;
  }
}
