@import "../styles/responsive.scss";
@import "../styles/colors.scss";
@import "../styles/fonts";
@import "../styles/sizes";

.Blog {
  &__hero-img {
    background-image: url("../assets/img/heros.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    > p {
      margin: 5px 0px;
      font-size: 0.6rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      color: #228d5a;
    }

    > h2 {
      color: black;
      margin: 0;
      font-size: 2.5rem;
    }
  }

  
  &__filter-container {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    background-color: $grey;
    @include tablet {
      justify-content: center;
    }

    > h4 {
      display: none;
      @include tablet {
        display: inline;
        font-size: 1.2rem;
        margin: 0px 10px 0px;
      }
    }
  }
  &__filter {
    border: 1px solid $primary-color;
    border-radius: 10px;
    color: $primary-color;
    margin: 20px 0px;
    height: 1.4rem;
    display: flex;
    align-items: center;

    > input {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
    &-icon {
      margin-right: 10px;
    }
  }

  &__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop {

      justify-content: normal;

    }
  }


  
}


