@import "../styles/colors.scss";
@import "../styles/responsive";
@import "../styles/fonts";

.Contact {
  min-height: calc(100vh - 50px);

  &__hero {
    background-image: url("../assets/img/heros.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;

    > h1 {
      font-size: 2rem;
    }
  }
  &__form-container {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      margin: 50px 20px;
    }
    @include desktop {
      margin: 80px 20px;
    }
  }
  &__info {
    text-align: left;
    > h1 {
      font-size: 1.7rem;
      @include desktop {
        font-size: 3rem;
      }
    }


    @include tablet {
      width: 47%;
    }
  }
}
