@font-face {
    font-family: Lancelot;
    src: url(../assets/fonts/Lancelot-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Roboto-regular;
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Roboto-light;
    src: url(../assets/fonts/Roboto-Light.ttf);
    font-style: light;
}