@import "../styles/colors.scss";
@import "../styles/responsive";
@import "../styles/fonts";
@import "../styles/sizes";

.Home {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__hero {
    background-image: url("https://res.cloudinary.com/valenbertoni/image/upload/v1613777518/header-hero_y43wpg.jpg");
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: white;
    font-size: 2rem;
    @include tablet {
      font-size: 2.5rem;
    }
  }
  &__articles {
    background-color: $grey;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-subtitle {
      color: $primary-color;

      @include tablet {
        font-size: 2.5rem;
        margin-bottom: 50px;
      }
    }
  }
  &__btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: Roboto-regular;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    transition: box-shadow .3s;
    font-weight: bold;

    @include tablet {
      font-size: 1rem;
    }
  }
  &__btn:hover {
    box-shadow: 0px 0 20px rgba(248,245,245,.4); 
    border: none;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    color: white;
  }
}
