@import './fonts';
@import './responsive';

h1,h2,h3,h4 {
    font-family: Lancelot;
}

p, a {
    font-family: Roboto-regular;
}
p {
    line-height: 1.5;
}
h2 {
    font-size: 2rem;
    @include tablet {
        font-size: 2.5rem;
    }
}