@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/responsive";
@import "../../styles/sizes";

.ContactForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
  @include tablet {
    width: 44%;
  }

  &__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
  }
  &__input {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    outline: none;
    font-size: 0.9rem;
  }
  &__input:focus {
      border-bottom: 1px solid $primary-color;
    }
  &__input:target {
    border-bottom: 1px solid $primary-color;
  }  
  
  &__btn {
    outline:none;
    cursor: pointer;
    border: none;
    width: 10rem;
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    font-family: Roboto-regular;
    font-weight: bold;
    margin-left: 1rem;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 20px;

    transition: box-shadow .3s;
  }
  &__btn:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.2); 
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: white;
  }

  
}
