@import "../../styles/responsive.scss";
@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/sizes";

.Header {
  // background-color: #228d5a;
  position: fixed;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
  width: 100vw;
  z-index: 1;
  // position: relative;

  @include tablet {
    justify-content: space-around;
  }

  &__logo {
    color: white;
    width: 12rem;
    > img {
      width: 100%;
    }
  }

  &__mobile {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    @include tablet {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    background-color: #228d5aba;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: left;

    width: 100vw;
    justify-content: space-around;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;

    > a {
      color: white;
      text-decoration: none;
      > p{margin: 0;}
    }
    
  }
  &__nav, &__desktop-nav a:hover {
    border-bottom: 3px solid white;
    transition: 0.2s;
    font-weight: bold;
  }

  &__rrss {
    display: flex;
    align-items: center;
    color: white;

    > a {
      color: white;
    }
    &-icon {
      margin-right: 10px;
      color: white;
    }
  }
}

.Header__desktop {
  display: none;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  @include tablet {
    display: flex;
  }

  &-nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;

    > a {
      color: white;
      text-decoration: none;
      margin-right: 10px;
      > p {margin: 0;}
    }

  }
  &-rrss {
    display: flex;
    color: white;
    width: 20%;

    > a {
      color: inherit;
    }

    &-icon {
      margin-right: 10px;
    }
  }
  &-line {
    border: 1px solid white;
    height: 10px;
    margin: 0px 10px;
  }
}
