@import '../../styles/responsive.scss';
.Footer {
    background-color: #228d5a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    
    @include tablet {
        height: 50px;
    }

    &__rrss {
        > a{
            color: white;
        }
    }

    &__rrss-icon {
        margin-right: 5px;

    }
    &__logo {
        width: 2.6rem;
        > img {
            width: 100%;
        }
    }
    &__legals {
        font-size: 0.8rem;
        @include tablet {
            display: flex;  
            > p {
                margin-right: 10px;
            }      
        }
    }
}

@include tablet {
    .Footer {
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        align-items: center;
    }
}